nav li {
    display: inline-block;
    list-style: none;
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

nav li:hover {
    color: white;
    background-color: crimson;
}

.container {
    flex-direction: row;
    display: flex;
    background-color: beige;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
}

.container.even {
    background-color: cornsilk;
}

.container:hover {
    background-color: antiquewhite;
}

.container .buttonsBox {
    visibility: hidden;
}

.container:hover .buttonsBox {
    visibility: visible;
}

.buttonsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}

.dataBox {
    border: 1px solid crimson;
}

.buttonsBox > button {
    margin: 5px;
    width: 150px;
}

.containerHistory {



    background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(3,255,218,1) 22%,
    rgba(153,252,70,1) 47%, rgba(70,205,252,1) 75%);
}

.evenRow {



    background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(188,3,255,1) 22%,
    rgba(153,252,70,1) 47%, rgba(70,205,252,1) 75%);
}





