:root {
    --min-font-size: 1.2;
    --max-font-size: 3.0;
}

@media (orientation: portrait) {
    :root {
        --min-font-size: 0.8;
        --max-font-size: 2.0;
    }
    }

body {
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    margin-left: 2.3rem;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex-direction: row;
    color: rgb(124, 8, 31);
    /*margin-left: 1rem;*/
    margin-bottom: 0rem;
    margin-top: 1rem;
    justify-content: space-between;
}

@media (orientation: portrait) {
    body {
        margin-left: 0;
    }

    h1 {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

nav li {
    display: inline-block;
    list-style: none;
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
}

#menuIcon {
    display: none;
}

@media (orientation: portrait) {
    #menuIcon {
        display: inline;
        cursor: pointer;
    }

    nav li {
        display: block;
        text-align: center;
        /*width: 150px;*/
        margin-right: 1rem;
    }

    ul {
        padding-inline-start: 1rem;
        display: none;
    }

    .show-menu {
        display: block;
    }
}

nav li:hover, .filter-past {
    color: white;
    background-color: crimson;
    user-select: none;  /* Evitar efecto de selección de texto en botones en Chrome Mobile */
}

/* Los div del container se ponen en fila si viewport es landscape, y en vertical para el portrait */
.container, .container-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    background-color: beige;
    background: linear-gradient(180deg, #ffeda7 0%, white 75%);
    margin: .3rem;
    padding: .3rem;
    padding-left: .6rem;
    max-width: 800px;
}

@media (orientation: portrait) {
    .container, .container-form {
        flex-direction: column;
    }
}

.container-form {
    border: .3rem solid crimson;
    padding: .6rem
}

.update-friend #name {
    font-size: 2rem;
    width: 95%;
}
.container-form > .dataBox > div {
    margin: .3rem;
}

.container:nth-child(even) {
    background-color: cornsilk;
    background: linear-gradient(180deg, #e3d392 0%, white 75%);
}

.container:hover {
    background-color: antiquewhite;
}

.container .buttonsBox {
    visibility: hidden;
}

.container:hover .buttonsBox {
    visibility: visible;
}

@media (orientation: portrait) {
    .container .buttonsBox {
        display: none;
    }

    .container:hover .buttonsBox {
        display: flex;
    }
}


/* Los botones son en vertical cuando el viewport es landscape y en horizontal */
.buttonsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}

@media (orientation: portrait) {
    .buttonsBox {
        flex-direction: row;
    }
}

.remaining {
    /*width: 5px;*/
    background-color: hsl(calc(var(--remaining) * 1.2), 100%, 80%);
    font-size: 1.2rem;
}

@media (orientation: portrait) {
    .remaining {
        font-size: 1.0rem;
    }
}

.buttonsBox > button {
    margin: 5px;
    width: 150px;
}

.containerHistory {
    margin-left: 2rem;
    /*margin-bottom: .1rem;*/
    padding: .3rem;
    /*background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(3,255,218,1) 22%,
    rgba(153,252,70,1) 47%, rgba(70,205,252,1) 75%);*/
    background: bisque;
    background: linear-gradient(180deg, bisque 90%, rgb(255 242 225) 100%);
}

.containerHistory:nth-child(even) {
    /*background: linear-gradient(90deg, rgba(63,94,251,1) 7%, rgba(188,3,255,1) 22%,
    rgba(153,252,70,1) 47%, rgba(70,205,252,1) 75%);*/
    background: rgb(255 242 225);
    background: linear-gradient(180deg, rgb(255 242 225) 90%, bisque 100%);
}

.friend-list > div {
    margin: .3rem;
    padding: .3rem;
}

.friend-list > span {
    display: inline-block;
    margin: .3rem;
    padding: .3rem;
}
/*
.show-note {
    background-color: white;
}
*/
.friendButton {
    background-color: white;
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.friendButton:hover {
    color: white;
    background-color: crimson;
}

.textarea {
    height: 101px;
    width: 370px;
}

@media (orientation: portrait) {
    .textarea {
        width: 100%;
    }
}

